* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
.header{
    justify-content: center;
    display: block; 
    height: 60px; 
    text-align:center; 
    line-height:50px;
    border: 2px solid green;
}
.footer{
    display: block; 
    height: 60px; 
    text-align:center; 
    line-height:50px;
    background-color: black;
}
.footer>p{
    color: white;
}
.site {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100vw;
    min-height: 100vh;
}
.item {
    color: var(--main-color, black);
    border: 2px solid var(--main-color, black);
    text-align: center;
    padding: var(--padding, 0px);
    margin-bottom: 10px;
}
.item:last-child {
    margin-bottom: 0;
}
.main {
    display: flex;
    flex-direction: column;
}
.slika{
    width: 100%;
    height: 100%;
}
.SporedneVijesti{
    display: flex;
    flex-direction: row;
    padding-right: 5px;   
    margin-left: 5px;
}
.SporedneVijesti>div{
    margin-left: 5px;
}
.SlikaNovosti{
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
}
.TekstNovosti{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 5px;
}
.PrvaVijest{
    text-align: left;
    margin-bottom: 10px;
}
.DrugaVijest{ 
    text-align: left;
    margin-bottom: 10px;
}
.PrvaVijest h3{
    margin-left: 5px;
}
.PrvaVijest p{
    margin-left: 5px;
}
.DrugaVijest h3{
    margin-left: 5px;
}
.DrugaVijest p{
    margin-left: 5px;
}
.card {
    display: flex;
    border: 1px solid black;
    width: 100%;
    margin-top: 20xpx;
}
.card>h3 {
    text-align: start;
    margin-left: 5px;
}
.card>p {
    text-align: left;
    margin-left: 5px;
}
.aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.aside__content {
    display: flex;
    flex-direction: column;
}
.main {
    grid-area: main;
    border: 2px solid black;
}
.header {
    grid-area: header;
    border: 2px solid black;
}
.aside-right {
    grid-area: aside;
    border: 2px solid black;
    background-color: palegreen;
}
.footer {
    grid-area: footer;
    border: 2px solid black;
}
.site {
    grid-gap: 10px;
    display: grid;
    grid-template-columns: 15% 45% 25% 15%;
    grid-template-rows: 8vh auto 8vh;
    grid-template-areas: 
        "header header header header"
        ". main aside ."
        "footer footer footer footer";
}
@supports (display: grid) {
            @media screen and (max-width: 400px) { /*za mobitele */
                body {
                    font-size: 24px;
                }
                 .aside {
                    display: flex;
                    flex-direction: column; 
                    justify-content: space-around;
                    align-items: center;
                }
                .aside__content {
                    grid-gap: 10px; 
                    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
                    display: flex; 
                    flex-direction: column; 
                    grid-auto-rows: 100px;
                    overflow-y: hidden;
                }
                .item {
                    margin-bottom: 0px;
                }
                .site {
                    display: grid;
                    max-width: 1000px;
                    grid-template-columns: 100%;
                    grid-template-rows: 8vh;
                    grid-template-areas: 
                    "header"
                    "main"
                    "aside"
                    "footer";
                }
            }
            
            @media screen  and (min-width: 400px) and (max-width: 1200px) { /*za tablete */
                .site {
                    display: grid;
                    grid-template-columns: 5% 65% 25% 5%;
                    grid-template-rows: 8vh auto 8vh;
                    grid-template-areas: 
                    "header header header header"
                    ". main aside ."
                    "footer footer footer footer";
                }
            }
}
